body{
	
margin:10px;
background-color:#80ccff;
}



.header {
    height:50px;
    width:100%;
    margin:15px auto;
    margin-bottom: 15px;
    font-family: Tahoma, sans-serif;
   text-align: center;
   
}
nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}