/**
 * Media Queries
 **/

@media (min-width: 320px) {
  .page::before {
    content: "320px";
    font-family: Arial, sans-serif;
    color: green;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 700;
    margin: 5px;
    font-size: 2rem;
    z-index: 9999;
  }
}

@media (min-width: 480px) {
  .page::before {
    content: "480px";
    color: maroon;
  }
}

@media (min-width: 620px) {
  .page::before {
    content: "620px";
    color: orange;
  }
}

@media (min-width: 810px) {
  .page::before {
    content: "810px";
    color: black;
  }
}

@media (min-width: 1200px) {
  .page::before {
    content: "1200px";
    color: CornflowerBlue;
  }
}

@media (min-width: 1400px) {
  .page::before {
    content: "1400px";
    color: red;
  }
}

.page {
  display: flex;
  color: white;
  font-size: 10px;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
 }

.header {
  display: flex;
  background-color: blue;
  height: 75px;
  width: auto;
  flex: 1;
  margin: 10px;
}

.navigation {
  display: flex;
  background-color: red;
  height: 100px;
  width: auto;
  flex: 1;
  margin: 10px;
}

.featured {
  display: flex;
  background-color: orange;
  height: 300px;
  width: auto;
  flex: 1;
  margin: 10px;
}

.story {
  display: flex;
  background-color: green;
  height: 150px;
  width: auto;
  flex:1;
  margin: 10px;
}

