.box1 {
    border: 1px solid;
    height:50px;
    width:50px;
    margin:30px;
    padding:10px;
    background:black;
    color:white;
    
}

.box2 {
    border: 1px solid;
    height:50px;
    width:50px;
    margin:30px;
    padding:10px;
    background:white;
    color:black;
    float:left;
    
}

.box3 {
    border: 1px solid;
    height:50px;
    width:50px;
    margin:30px;
    padding:10px;
    background:black;
    color:white;
    
}

.box4 {
    border: 1px solid;
    height:50px;
    width:50px;
    margin:30px;
    padding:10px;
    background:white;
    color:black;
    
}
 
.box5 {
    border: 1px solid;
    height:50px;
    width:50px;
    margin:30px;
    padding:10px;
    background:black;
    color:white;
}

.box6 {
    border: 1px solid;
    height:50px;
    width:50px;
    margin:30px;
    padding:10px;
    background:white;
    color:black;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    float:left;
}

.box4 {
    clear:left;
}
