header{
    margin:auto;
    text-align:center;
    
}

.one{
    display: block;
    max-width:400px;
    max-height:250px;
    width: 600px;
    height: auto;
    position:relative;
}

.left{
    background-color:#F7F7F7;
    float:left;
    
}

.right{
    float:right;
    width:40%;
}


/*This controls the size of the pictures on the right*/
.rightside {
    width:100px;
    height:100px;
}