a {
    text-decoration: none;
}

h2 {
    text-indent: 0px;
}

h3 {
    text-indent: 10px;
}

ul {
    list-style-type: none;
    text-indent: -10px;
}

.Lesson2 {
    padding: 3px;
    background-color: #58aade;
    color:#212121;
}

.Lesson2 a {
    color:#fff000;
}

.Lesson3 {
    padding: 3px;
    background-color: #2f6b1f;
    color:#000000
}

.Lesson3 a {
    color:#d06d14;
}