


/*div{*/
  /*border:2px dashed red;*/
/*}*/



a{
  font-size:2rem;
}

*{
  box-sizing: border-box;

}

html{
  font-family: 'Eczar', serif;
  font-size: 62.5%; /* allows browsers (that supports rem) to use rem fonts sizing, where 62.5% equals 10px or 1rem*/
  height: 100%;
  width: 100%;

  /** Benefits of using rem over em
  * rem = Element font-size is Relative to the ROOT element. The root element is the <html> tag.
  * Remember the root element html is currently set to 62.5% of 16px which is equal to 10px.
  * em = Element font-size is Relative to the font-size of the element or that of the parent's element (if it has one).
  (2em means 2 times the size of the current font)
  **/
}


/* header section */

header, footer{
  /*width:80%;*/
  width:1143px; /* match total image width*/
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex; /* display all header child elements in a row */
  align-items: center; /* center align all header child elements in their original height and weight */
}

header{
  background-color:  #ffad33;
}

.paw-img{
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px




}
.menu-left{
  color: #fff;
  font-size: 2rem;
  /*  position: relative */
  flex: 1;  /* equally display flex from Header parent */

}

/*
.dropdown-content{
  display: none;
  position: absolute;

}

.menu-left:hover .dropdown-content {
  display: block;
}


/* logo*/
.logo-center{
  flex: 1;
}


/* header . search-bar */
.search-right{
  display:flex; /* display search bar and search icon next to each other */


}

input .search-bar{
  font-size: 1.2rem;
  background: transparent;
  padding: 15px;
  color: white;
}

.search-bar{
  background-color:  #b38600;
  color: white;
  padding: 10px;
  border: 2px solid #b38600;


}

.search-icon{
  background-color: #663d00;

  padding: 10px;
}



/*main */


.center{
  text-align: center;
}


/* place profile-left and profile-right side by side*/
.main-content{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /*width:80%;*/
  width: 1143px;
  height: 591px;

}


.profile-right{
  flex: 1;
  width: 784px;
  height: 619px;
  
  /*background-image: url("img/InsidePage-Photo.png");*/
}

.profile-left{
  flex: 1;
  height: 619px;
 
}

.profile-pic-topleft{
margin: 0 auto;
 width: 359px;
 height: 338px;
}

.profile-details-bottomleft { /* Ginger to match topleft pic w*h*/
  /*border-radius: 1px solid #f26e00 ;*/
  background-color:#f26e00;
  width: 359px;
  height: 253px;
  color: #fff;
  font-size:1.7rem;
  font-family: Garamond;
  padding-top: 12px;
  padding-bottom: 12px;
  /*margin-top: 0px;
  margin-bottom: 0px;*/
  


}

.bottom-left-icons{
  display: flex;
  justify-content: center;

}




/*footer */

footer{
  background-color: #181818;
  display: flex;



}


button{
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  color: green;
}

/*subscribe*/

.subscriber-left{
flex:1;
}


.subscribe-bar {
background-color: black;
text-align:center;
font-size:1.2rem;
padding-top: 10px;
padding-bottom: 10px;
border: 1px solid black;
}

.sub-btn{
color: black;
background-color: #CF5300;
border: 1px solid #CF5300;
}


/*Social Icons*/
.social-icons-center {
flex:1;
}

.icon-right-margin{
  margin-right: 8px;

}

/*Donate*/

.donate-right{
  display: flex;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  }

.green-heart{
    background-color: green;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}


.donate-btn{
  color: green;
  padding-top: 15px;
  padding-bottom: 15px;

}



/* Medida Queries - Mobile firts*/

/*Mobile */
@media only screen and (min-width:320px ) {


}

/* Tablet */

@media only screen and (min-width: 601px) {


}

/* Desktop */

@media only screen and (min-width: ) {


}
