
h1 {
    font-family: Arial Black;
    color: #CF6766;

}

h2 {
    font-family: Courier;
    color: #30415D;
}

h3 {
    font-family: Arial;

}

h4, ul {
    font-family: Arial;
    color: #404040;;
}

p {
    font-family: Arial;
    color: #404040;
}